*{
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}


header{
    background-color: brown;
    color: aliceblue;
    text-align: center;
    padding: 1;
}
.img-perfil{
    width: 10%;
    border-radius: 50%;
}

/* .txt-perfil{
    
} */